@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

/* CSS for Top Navbar with Gradient Background */
.bg-gradient-to-tl {
  background: linear-gradient(to top left, #00C2FF, #FFFFFF);
}


.bg-002CFF {
  background-color: #00C2FF;
}
